$primary-color: #284B63;
$secondary-color: #FE7F2D;
$terciary-color: #005A9F;
$gray-color: #D9D9D9;
$black-color: #222222;
$white-color: #FFFFFF;

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    terciaryColor: $terciary-color;
    grayColor: $gray-color;
    blackColor: $black-color;
    whiteColor: $white-color;
}

.fill-inclue-primary-color {
    fill: $primary-color;
}

.bg-inclue-primary-color {
    background-color: $primary-color;
}

.bg-inclue-secondary-color {
    background-color: $secondary-color;
}

.bg-inclue-white-color {
    background-color: $white-color;
}

.bg-inclue-terciary-color {
    background-color: $terciary-color;
}

.color-inclue-terciary-color {
    color: $terciary-color;
}